.profileUser {
  .Change_password {
    margin: 30px 0px 30px;
    padding: 10px;
    .btn_change {
      margin-top: 10px;
    }
    .input_password {
      font-size: 13px;
      width: 200px;
    }
    .title_change {
      margin: 10px 0 0 0;
    }
  }
}
